.xpath .select{
    color:red;
    font-weight:bold;
}
.xpath p {
    color:blue;
    font-weight:bold;
}
.xpath{
    /*background-color: #B2FFF0;*/
    padding-left: 10px;
    color: #993300;
    overflow:auto;
}

