{% load wagtailcore_tags wagtailimages_tags %}

{% with blocks=self %}
 
    {% for block in blocks %}
        {% if block.block_type == 'heading' %}
            <h2>{{ block.value }}</h2>

        {% elif block.block_type == 'exe_htmljs'%}
               {{ block.value|richtext }}

        {% elif block.block_type == 'code_bash'%}
               <pre class="prettyprint lang-bash">{{ block.value }}</pre>
        {% elif block.block_type == 'code_htmljs'%}
               <pre class="prettyprint">{{ block.value }}</pre>
        {% elif block.block_type == 'code_py'%}
               <pre class="prettyprint lang-python">{{ block.value }}</pre>
        {% elif block.block_type == 'code_django'%}
               <section class="dj-code">
 	         <div class="zone"><div class="title">urls</div><pre class="prettyprint lang-python dj-urls">{{ block.value.urls }}</pre></div>	      
		 <div class="zone"><div class="title">views</div><pre class="prettyprint lang-python dj-views">{{ block.value.views }}</pre></div>
	         <div class="zone"><div class="title">template</div><pre class="prettyprint lang-python dj-template">{{ block.value.template }}</pre></div>
               </section>
	       <br>

        {% elif block.block_type == 'image' %}
            {% image block.value width-900 class="img-responsive" %}
        {% else %}
           <section class="block-{{ block.block_type }}">
               {{ block }}
           </section>
        {% endif %}
    {% endfor %}
 
{% endwith %}
