{% extends "site1/base.html" %}

{% load wagtailcore_tags %}
{% load menu_tags %}
{% load static %}

{% block metadata %}
<meta name="description" content="{{ page.title }}" />
<meta name="keywords" content="{% if page.tags.all.count %}{% for tag in page.tags.all %}{{ tag }},{% endfor %}{% endif %}">
{% endblock %}


{% block extra_css %} 
  <link rel="shortcut icon" type="image/png" href='{% static "img/tux.png" %}' />

  <!-- Bootstrap4 core CSS -->
  {% if remote == "true" %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://rawgit.com/google/code-prettify/master/loader/prettify.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  {% else %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'code-prettify-master/loader/prettify.css' %}" rel="stylesheet">
  {% endif %}

  <link href="{% static 'site1/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'site1/css/xpath.css' %}" rel="stylesheet">

{% endblock %}

{% block extra_js %}

  <!-- Bootstrap core JavaScript -->
  {% if remote == "true" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://rawgit.com/google/code-prettify/master/loader/prettify.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <!--
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    -->
  {% else %}
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'popper/popper.min.js' %}"></script>
    <script src="{% static 'code-prettify-master/loader/prettify.js' %}"></script>
    <!--
    <script src="{% static 'code-prettify-master/run_prettify.js' %}"></script>
    -->
	
    <script src="{% static 'site1/js/set-csrf.js' %}"></script>
    <script src="{% static 'site1/js/clock.js' %}"></script>
    <!--<script src="{% static 'site1/js/equalize.js' %}"></script>-->
	
  {% endif %}

  <script>
    $(document).ready(function(){
        PR.prettyPrint();
    });
  </script>

  <script>
  //GET /site1-search/?key=text
  $(document).ready(function(){
    $("#search").keyup(function(){
      $.get("/site1-search", 
            { 
              key:$("#search").val(), 
            }, 
            function(data, status, xhr){
              //alert("Data: " + data + "\nStatus: " + status);
              $("#content").html(data)		  
            }
      ).fail(function(){
        /*alert("error");*/
      });  
    });     
  });
  </script>

  <script>
    startTime();	  
  </script> 	  

  <script>
    //equalize();
  </script>	  


{% endblock %}

{% block content %}

  <div class="display_zone">

  <!-- below navbar setting for sticky footer ... -->
  <br><br><br><br>

  {% csrf_token %}

  <!--
  <div class="jumbotron text-center" style="margin-bottom:0">
    <h1>My First Bootstrap 4 Page</h1>
    <p>Resize this responsive page to see the effect!</p>
  </div>
  -->

  <!-- Navigation -->
  <!-- Fixed top navbar -->
  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary" >
    <!-- Brand -->
    <a class="navbar-brand" href="#">
      <img src="{% static 'site1/img/web-devel.png' %}" alt="Logo" style="width:60px;">
      Django
    </a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link active" href="{{slugurl}}/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{slugurl}}/posts/">Posts</a></li>
        <li class="nav-item"><a class="nav-link" href="{{slugurl}}/tree/">Site Tree</a></li>
        <li class="nav-item"><a class="nav-link" href="{{slugurl}}/categories/">Categories</a></li>
        <li class="nav-item"><a class="nav-link" href="{{slugurl}}/tags/">Tags</a></li>
	<li class="nav-item"><a class="nav-link" href="{{slugurl}}/cheat-sheets/">Cheat sheets</a></li>
        <li class="nav-item"><a class="nav-link" href="{{slugurl}}/repos/">Useful repos</a></li>
	<li class="nav-item"><a class="nav-link" href="{{slugurl}}/about/">About</a></li>
      </ul>

      <!-- Forms -->
      <form class="form-inline my-2 my-lg-0">
        <input id="search" class="form-control mr-sm-2" type="search" placeholder="Search">
      </form>
    </div>
  </nav>


  <!-- Page Content -->
  <div id="main" class="container" style="">

    <div class="row">    

      <div class="col-md-9 my-2">
        <section id = "content">
          {% block display %}
          {% endblock %}
        </section>
      </div>

      <div class="col-md-3">
	<aside>     

          <div id="clock"></div>

          <div id="last-posts" class="card my-3 mycolor">
            <h5 class="card-header">Last posts:</h5>
            <div class="card-body">
              <ul class="list-unstyled mb-0">
                {% for post in last_posts %}
                  <ul>
                    <li>
                      {% with post=post.specific %}
                        <a href="{% pageurl post %}">{{ post.title }}</a>
                      {% endwith %}
                    </li>
                  </ul>
                {% endfor %}
              </ul>		    
            </div>
          </div>          
	</aside>
      </div>	

    </div>

  </div>

  </div> <!-- end display_zone -->

  <!-- Footer -->
  <!--  
  <footer class="page-footer font-small blue pt-4 bg-primary text-white" class="footer" >

    <div class="row">

      <div class="col-sm-4 text-center" >
        <ul class="list-unstyled">
          <li><a class="text-white" href="https://mihaicorciu.ro">mihaicorciu.ro</a></li>
	  <li><a class="text-white" href="https://www.linkedin.com/in/mihai-corciu-oltenita/">LinkedIn</a></li>
        </ul>
      </div>

      <div class="col-sm-4 footer-copyright text-center">
          <p class="m-0 text-center ">Copyright &copy; Corciu Mihai - Oltenita - 2020</p>
          <p class="m-0 text-center ">mc200520052005@yahoo.com</p>
      </div>
      <div class="col-sm-4 text-center" >
        <ul class="list-unstyled">
          <li><a class="text-white" href="https://github.com/mihai2014">GitHub repos</a></li>
          <li><a class="text-white" href="https://mihai2014.github.io/">github.io</a></li>
        </ul>	      
      </div>
    
    </div>


    <div class="">
      <img class="img-fluid mx-auto d-block" src="{% static 'img/wagtail_badges/wagtail_badge_retina_white.png' %}" alt="Wagtail-CMS logo" width="250" />	
    </div>

  </footer>
  <div id="void"></div>
  -->
<!-- Footer -->


  <footer class="footer">
    <div class="row">

      <div class="col-sm-4 text-center" >
        <ul class="list-unstyled">
          <li><a class="text-white" href="https://mihaicorciu.ro">mihaicorciu.ro</a></li>
          <li><a class="text-white" href="https://www.linkedin.com/in/mihai-corciu-oltenita/">LinkedIn</a></li>
        </ul>
      </div>

     <div class="col-sm-4 footer-copyright text-center">
          <p class="m-0 text-center ">Copyright &copy; Corciu Mihai - Oltenita - 2020</p>
          <p class="m-0 text-center ">mc200520052005@yahoo.com</p>
      </div>
      <div class="col-sm-4 text-center" >
        <ul class="list-unstyled">
          <li><a class="text-white" href="https://github.com/mihai2014">GitHub repos</a></li>
          <li><a class="text-white" href="https://mihai2014.github.io/">github.io</a></li>
        </ul>         
      </div>
      
    </div>	

    <img class="img-fluid mx-auto d-block" src="{% static 'img/wagtail_badges/wagtail_badge_retina_white.png' %}" alt="Wagtail-CMS logo" width="250" />

  </footer> 


{% endblock %}
