{% extends "site1/layout.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-site1page{% endblock %}

{% block display %}

    {{ body|richtext }}

    {% comment %}
    {{ page.body|richtext }}

    {% for block in page.content %}

        {% if block.block_type == 'paragraph'%}
               {{ block.value }}
        {% elif block.block_type == 'exe_htmljs'%}
               {{ block.value|richtext }}
        {% else %}
	{% endif %}
	
    {% endfor %}
    {% endcomment %}

{% endblock %}
